.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--color-accent);
}

.header .container {
  position: relative;
}

.header .lizard-icon {
  position: absolute;
  padding-right: 18px;
  top: -16px;
  right: 0;
  fill:var(--color-primary-black);
  opacity: 1;
}

@media only screen and (min-width: 360px) {
  .header .lizard-icon {
    padding-right: 0;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  position: relative;
  padding-left: 26px;
  font-weight: 600;
}

.nav-icon {
  position: absolute;
  left: 0;
  bottom: 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
